@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

/* header */

.heading {
    text-align: center;
    line-height: 1.6;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(90deg, #ff0000, #ff7300);
    width: 100%;
}

/* main */

main {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 90vw;
    background-color: rgba(39, 39, 39, 0.5);
}

.box {
    margin: 10px;
    height: 20vh;
    width: 80vw;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(66, 65, 65), rgb(224, 222, 222));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.container {
    width: 18%;
    height: 90%;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(83, 83, 83));
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* foot */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(66, 65, 65), rgb(224, 222, 222));
}

.end-text {
    padding: 10px;
    border-radius: 10px;
    color: rgb(224, 224, 224);
}